* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

header {
  box-shadow: 0 1px 2px 2px black;
  position: absolute;
  height: 50px;
  top: 0;
  width: 100%;
  background-color: #333;
}

#headerContent p {
  color: cyan;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

#clockContainer {
  width: 100%;
  height: 100%;
  background-color: #222;
}

#innerCircle {
  border-radius: 50%;
  position: absolute;
  background: #111;
  width: 180px;
  height: 180px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px 3px #000;
}

svg {
  position: absolute;
  top: 40%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%) rotate(-90deg);
  border-radius: 50%;
  display: block;
  box-shadow: 0 0 20px #000;
}

#clockFull {
  fill: none;
  stroke: cyan;
  stroke-width: 20;
  stroke-dasharray: 0 628;
  transform: scale(1, -1) translate(0,-100%);
  transition: stroke-dasharray 1s linear;
}

#clockEmpty {
  fill: none;
  stroke-width: 20;
  stroke-dasharray: 0 628;
  transition: stroke-dasharray 1s linear;
}

.timer {
  font-family: 'sf_digital_readoutmedium';
  color: cyan;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  /* had to add this to stop timer from being selected when using slide bar */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.timer:first-child {
  opacity: .15;
}

#slideBar {
  background-color: black;
  border: 1px solid darkcyan;
  width: 250px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  transition: 1s;
}

#slider {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: cyan;
  width: 15px;
  height: 30px;
  position: relative;
  top: -7px;
  left: 0%
}

footer {
  box-shadow: -1px -1px 2px 2px black;
  position: absolute;
  height: 30px;
  bottom: 0;
  width: 100%;
  background-color: #333;
}

a {
  font-size: 12px;
  text-decoration: none;
  color: darkcyan;
}

a:hover {
  color: cyan;
}

#footerContent p{
  color: black;
  font-size: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
